@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&subset=cyrillic,latin-ext');
.style {
  font-family: 'Kelly Slab', cursive;
  font-size: 25pt;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  font-style: italic;
}
.container-style {
  margin: 25px 0 25px 0;
  padding: 10px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: #242b38;
  box-sizing: border-box;
  border: 1px solid #1b2854;
  border-radius: 20px;
  box-shadow: 0 0 30px -1px #3b5773;
}
.container-style div div:hover {
  outline: 1px solid #0085d7;
  box-sizing: border-box;
  box-shadow: 0 1px 8px 5px rgba(0, 134, 219, 0.1), 0 4px 12px 5px rgba(0, 134, 219, 0.2);
  background-color: #b5b5b5;
  cursor: pointer;
}
.container-style div div:active {
  box-shadow: inset 0 0 50px 25px #000;
}
.container-style div div img {
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
}
.container-style div div img:hover {
  cursor: pointer;
}
.style_fire {
  text-shadow: 0 0 5px #fefcc9, 5px -5px 20px #feec85, -10px -10px 30px #ffae34, 10px -20px 40px #ec760c, -10px -30px 50px #cd4606, 0px -25px 20px #973716, 9px -7px 20px #451b0e;
}
.visible {
  display: flex;
}
.container .carContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  margin: 0;
}
.container .carContent .chosen {
  margin: auto;
  display: flex;
  align-items: center;
  width: 90%;
  min-width: 1300px;
  height: 250px;
  border-radius: 40px;
  box-shadow: 0 0 50px 5px #710909;
  background-image: url('my_car/my_car/some_metal.jpg');
}
.container .carContent .chosen ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 150px;
  text-align: center;
}
.container .carContent .chosen ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  text-align: justify;
  width: 150px;
  vertical-align: middle;
  /*height: 100%;*/
}
.container .carContent .chosen ul li:nth-child(even) {
  height: 77px;
  width: 200px;
  margin: 0 10px 0 10px;
  background-color: transparent;
  box-sizing: border-box;
  border-top: 4px solid #dc0001;
  vertical-align: bottom;
}
.container .carContent .chosen ul li:nth-child(odd)::after {
  content: attr(data-title);
  position: absolute;
  width: 150%;
  bottom: -32px;
  left: -45px;
  color: #fff;
  text-align: center;
  font-family: 'Kelly Slab', cursive;
  font-size: 25pt;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  font-style: italic;
}
.container .carContent .chosen ul li img:hover {
  cursor: pointer;
}
.container .carContent .chosen ul li h1 {
  text-align: center;
  color: #fff;
  font-family: 'Kelly Slab', cursive;
  font-size: 25pt;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  font-style: italic;
}
.container .carContent .chosen ul .selectYear h1,
.container .carContent .chosen ul .selectLiters h1 {
  font-size: 45pt;
}
.container .carContent .car_container {
  margin: 25px 0 25px 0;
  padding: 10px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: #242b38;
  box-sizing: border-box;
  border: 1px solid #1b2854;
  border-radius: 20px;
  box-shadow: 0 0 30px -1px #3b5773;
}
.container .carContent .car_container div div:hover {
  outline: 1px solid #0085d7;
  box-sizing: border-box;
  box-shadow: 0 1px 8px 5px rgba(0, 134, 219, 0.1), 0 4px 12px 5px rgba(0, 134, 219, 0.2);
  background-color: #b5b5b5;
  cursor: pointer;
}
.container .carContent .car_container div div:active {
  box-shadow: inset 0 0 50px 25px #000;
}
.container .carContent .car_container div div img {
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
}
.container .carContent .car_container div div img:hover {
  cursor: pointer;
}
.container .carContent .bodies {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .carContent .bodies div {
  position: relative;
}
.container .carContent .bodies div div::after {
  content: attr(data-title);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: center;
  font-family: 'Kelly Slab', cursive;
  font-size: 25pt;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  font-style: italic;
}
.container .carContent .visible {
  display: flex;
}
.container .carContent .years {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  font-size: 30pt;
  color: #fff;
}
.container .carContent .years select {
  order: 1;
  height: 50px;
  width: 150px;
  font-size: 30pt;
  margin: 0 0 5px 30px;
  padding: 5px 0 0 0;
  text-indent: 10px;
}
.container .carContent .years select:focus {
  outline: none;
}
.container .carContent .years select:hover {
  cursor: pointer;
}
.container .carContent #end {
  flex-grow: 0;
  font-size: 30pt;
}
.container .carContent #end h1 {
  color: #fff;
  font-family: 'Kelly Slab', cursive;
  font-size: 25pt;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  font-style: italic;
}
.container .carContent #engine nav .typeofFuel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  font-family: 'Orbitron', sans-serif;
  font-size: 20pt;
}
.container .carContent #engine nav .typeofFuel fieldset {
  margin: 0;
  padding-top: 0;
  border: none;
  color: #ffffff;
  line-height: 70px;
}
.container .carContent #engine nav .typeofFuel fieldset legend {
  padding: 0;
  font-family: 'Kelly Slab', cursive;
  font-size: 25pt;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  font-style: italic;
}
.container .carContent #engine nav .typeofFuel fieldset nav .fire1:hover,
.container .carContent #engine nav .typeofFuel fieldset nav .fire2:hover {
  text-shadow: 0 0 5px #fefcc9, 5px -5px 20px #feec85, -10px -10px 30px #ffae34, 10px -20px 40px #ec760c, -10px -30px 50px #cd4606, 0px -25px 20px #973716, 9px -7px 20px #451b0e;
}
.container .carContent #engine nav .typeofFuel fieldset nav input,
.container .carContent #engine nav .typeofFuel fieldset nav label {
  cursor: pointer;
}
.container .carContent #engine nav .typeofFuel .engineSize {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 20pt;
  color: #fff;
}
.container .carContent #engine nav .typeofFuel .engineSize select {
  order: 1;
  height: 50px;
  width: 150px;
  font-size: 20pt;
  margin: 0 0 5px 30px;
  padding: 5px 0 0 0;
  text-indent: 10px;
}
.container .carContent #engine nav .typeofFuel .engineSize select:focus {
  outline: none;
}
.container .carContent #engine nav .typeofFuel .engineSize select:hover {
  cursor: pointer;
}
@media (max-width: 1195px) {
  .container .carContent .chosen {
    min-width: 310px;
    min-height: 1000px;
    align-items: flex-start;
  }
  .container .carContent .chosen ul {
    margin-top: 10px;
  }
  .container .carContent .chosen ul li {
    display: block;
    text-align: center;
    width: inherit;
  }
  .container .carContent .chosen ul li:nth-child(even) {
    height: 77px;
    width: 157px;
    margin: 40px 0 -10px 0;
    background-color: transparent;
    box-sizing: border-box;
    border-top: none;
    border-right: 4px solid #dc0001;
  }
  .container .carContent .chosen ul li:nth-child(odd)::after {
    width: 100%;
    left: -10px;
  }
  .container .carContent .chosen ul li h1 {
    font-size: 12pt;
  }
  .container .carContent .car_container div div img {
    margin: 0;
  }
  .container .carContent .car_container .bodies div div::after {
    bottom: 15px;
  }
}
